@use '@/styles/scss/_variables.scss' as *;

.form {
  display: flex;
  gap: $spacing-xxl;
  justify-content: center;
  width: 100%;

  .nigth-input {
    border: 1px solid white;
    border-radius: 8px;
  }
}
