@use '../../styles/scss/variables' as *;

.hidden {
  visibility: hidden;
}

.flyout {
  position: fixed;
  top: 78%;

  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  align-items: center;

  width: 100%;

  background-color: rgb(white, 0.9);

  .flyout__buttons {
    display: flex;
    gap: $spacing-sm;

    button {
      background-color: rgba($primary-button, 0.7);

      &:hover {
        cursor: pointer;
        background-color: $primary-button;
      }
    }
  }
}
