@use '../../../styles/scss/variables' as *;

.button {
  display: flex;

  width: 5.5%;
  min-width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 1px solid $primary-button;
  border-radius: $border-radius-md;

  background-color: $primary-button;

  &:hover {
    cursor: pointer;
    background-color: $primary-button-hover;
  }

  &:disabled {
    pointer-events: none;
    background-color: $secondary-button-hover;
  }
}
