@use '../../../styles/scss/variables' as *;

.about {
  display: flex;
  flex-direction: column;
  gap: $spacing-xxl;
}

.links {
  display: flex;
  gap: $spacing-lg;

  img {
    max-width: 150px;
    min-height: 150px;
  }
}
