@use '../../styles/scss/variables.scss' as *;

.fetching {
  filter: blur(5px);
}

.refetch-button {
  position: fixed;
  height: fit-content;
}

.main {
  display: flex;
  flex-direction: column;
  align-content: space-between;

  width: 100%;
  height: calc(100% - 38.4px);
}

.section-form {
  position: relative;
  min-height: 100px;

  .error-button-form {
    position: absolute;
    top: 75%;
    right: 0;
    height: fit-content;
  }

  .error-button-page {
    position: absolute;
    top: 45%;
    right: 0;
    height: fit-content;
  }
}

.section-results {
  position: relative;

  overflow: scroll;
  flex-grow: 1;
  justify-content: flex-start !important;

  height: 600px;
  min-height: 200px;

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xl;
    justify-content: center;

    width: 100%;
  }
}
