.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.table_head {
  display: flex;

  .table_head-item {
    min-width: 200px;
    border: 1px solid grey;
    background-color: rgb(150, 104, 194);
  }
}

.controls {
  display: flex;
  gap: 15px;
}
