@use '../../../styles/scss/variables' as *;

.active {
  span {
    color: $primary-button;
  }
}

.pending {
  span {
    color: $text-secondary;
  }
}

.header {
  position: relative;

  .menu {
    display: flex;
    justify-content: space-between;
    width: 30%;

    .menu-item > a {
      color: inherit;
    }
  }
}
