@use '../../../styles/scss/variables' as *;

.active {
  span {
    color: $primary-button;
  }
}

.pending {
  span {
    color: $text-secondary;
  }
}

.header {
  .menu {
    display: flex;
    justify-content: space-between;
    width: 30%;
  }
}
